
@import url('https://rsms.me/inter/inter.css');

@tailwind base;

@tailwind components;

body {
  @apply font-sans antialiased;
}

.form-item:focus-within > .form-label {
  @apply text-green-500;
}

svg {
  vertical-align: initial;
}

.ant-upload-list {
  display: inline;
}

.ant-upload-list-item
.ant-upload.ant-upload-select-picture-card {
  width: 96px;
  height: 96px;
  padding: 0;
}

.ant-upload-list-picture-card .ant-upload-list-item-progress {
  width: 100%;
}

.ant-upload-list-picture-card
.ant-upload-list-item-uploading-text {
  margin-top: 24px;
  margin-left: 8px;
}

.address-radio-group .ant-radio-wrapper {
  @apply flex items-center whitespace-normal;
}

@keyframes skeleton-animation {
  0% {
    @apply opacity-25;
  }

  100% {
    @apply opacity-75;
  }
}

.skeleton {
  @apply bg-gray-200 rounded;
  animation: skeleton-animation 500ms alternate linear infinite;
}

@tailwind utilities;
